body {
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-color: #f4f4f4;
}


.game-container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


h1  {
    color: #333; 
    text-align: center; 
}

h2 {
    color: #ad1717; 
    text-align: center;
}

#controls {
    color: #208d4ad5;
    text-align: left;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


input[type=text] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 11px 18px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}


.player-list {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}